
@{
    ViewBag.Title = "IndexAPI";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of books</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btn-sm" })
    @Html.ActionLink("Non-API version", "Index", null, new { @class = "btn btn-default btn-sm" })
</p>

<table id="books" class="table table-bordered table-hover">
    <thead class="bg-default">
        <tr>
            <th class="col-md-3">Title</th>
            <th class="col-md-2">Genre</th>
            <th class="col-md-2">Authors</th>
            <th class="col-md-1">Rate</th>
            <th class="col-md-2"></th>
            <th class="col-md-2">Admin options</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@Html.Partial("_deleteModalPopUp")
@section scripts
{
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/Scripts/noty/jquery.noty.js"></script>
    <script src="~/Scripts/noty/layouts/topRight.js"></script>
    <script src="~/Scripts/noty/themes/relax.js"></script>

    <script>
        $(document).ready(function () {

            $(function () { })

            var table = $("#books").DataTable({
                ajax: {
                    url: "/api/books",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "Name",
                        render: function (data, type, book) {
                            return "<a href='/books/details/" + book.Id + "'>" + book.Name + "</a>";
                        }
                    },
                    {
                        data: "Genre"
                    },
                    {
                        data: "AuthorFullNames",
                        render: function (data, type, book) {
                            return book.AuthorFullNames.join(', ');
                        }
                    },
                    {
                        data: "AverageRating",
                        render: function (data, type, book) {
                            if (book.AverageRating > 0) { return book.AverageRating } else { return null }
                        }
                    },
                    {
                        data: "Id",
                        render: function (data) {
                            if (true) {
                                return "<button id='addButton' class='btn-link js-bookshelf' data-href=/books/AddToBookshelf/" + data + " data-book-id=" + data + ">Add to bookshelf</button>" + "<button class='btn-link js-reviews' data-book-id=" + data + ">Show reviews</button>";

                            }
                        }
                    },
                    {
                        data: "Id",
                        render: function (data) {
                            return "<button class='btn-link js-edit' data-book-id=" + data + ">Edit</button> | " + "<button class='btn-link js-delete' data-book-id=" + data + ">Delete</button>" + "<br /><button class='btn-link js-manage' data-book-id=" + data + ">Manage authors</button>";
                        }
                    }
                ]
            });

            $("#books").on("click", ".js-edit", function () {
                var button = $(this);

                console.log("Success");
                location.href = '/books/edit/' + button.attr('data-book-id');
                return;
            });

            $("#books").on("click", ".js-delete", function () {
                $("#confirmDelete").modal('show')
                var button = $(this);

                $("#reset").click(function () {
                    button = null;
                    $("#confirmDelete").modal('dispose')
                });

                $("#confirmDelete").on('click', '.js-ok', function (e) {
                    if (button == null) {
                        return;
                    }
                    console.log(button.attr("data-book-id"));
                    $.ajax({
                        url: "/api/books/" + button.attr("data-book-id"),
                        method: "DELETE",
                        success: function () {
                            table.row(button.parents("tr")).remove().draw();
                            console.log("Success");
                            button = null;
                        }
                    })
                    $("#confirmDelete").modal("hide")

                    return;
                });

            });

             $("#books").on("click", ".js-manage", function () {
                 var button = $(this);
                 var url = '@Url.Action("ShowAvailableAuthors", "books")' + '?bookId=' + button.attr("data-book-id");
                $.ajax({
                    url: url,
                    success: function () {
                        console.log('Returned data is: ' + url);
                        window.location.href = url;
                    }
                });
                return false;
            });

            $("#books").on("click", ".js-reviews", function () {
                var button = $(this);

                location.href = '/reviews/showreviews/' + button.attr('data-book-id');
                return false;
            });

            $("#books").on("click", "#addButton", function (e) {
                var button = $(this);
                e.preventDefault();
                $.ajax({

                    url: $(this).attr("data-href"),
                    success: function () {
                        var n = noty({
                            text: 'Book was added to your bookshelf',
                            layout: 'topRight',
                            theme: 'relax',
                            type: 'smallSuccess',
                            animation: {
                                open: 'animated bounceInRight',
                                close: 'animated zoomOutRight'
                            },
                            timeout: 2000
                        });
                    },
                    error: function () {
                        var n = noty({
                            text: 'You already have this book in your bookshelf',
                            layout: 'topRight',
                            theme: 'relax',
                            type: 'warning',
                            animation: {
                                open: 'animated bounceInRight',
                                close: 'animated zoomOutRight'
                            },
                            timeout: 2200
                        });
                    }
                });
            });
        });
    </script>
}