@model IEnumerable<LibrApp2.Models.Author>

@{
    ViewBag.Title = "Index";
}

<h2>List of authors</h2>

<p>
    @Html.ActionLink("Add author", "Create", null, new { @class = "btn btn-primary btn-sm" })
</p>
<table id="authors" class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.FullName, "Edit", new { id = item.Id }, null)
                </td>
            </tr>
        }
    </tbody>

</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#authors").dataTable();
        });
    </script>
}