@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<div style="margin-bottom: 20px; text-align: justify; border: solid green 1px; border-radius: 15px;" class="col-md-12 col-sm-12 container bg-success">
    <p style="margin: 10px;"><b>The quick idea</b> <br /> LibrApp 2 is a library of books that admins can manage and users can view. Users that log in to the applciation have their own profiles that they can add books to (bookshelves) and customize in various ways. Additionally they can view other users' profiles as well as write reviews and grant ratings to the books. Full list and depth of planned functionalities is a bit more extensive than that, but proper presentation will be done once the application is finished.</p>
</div>

<div style="margin-bottom: 20px; text-align: justify; border: solid #0C487F 1px; border-radius: 15px;" class="col-md-12 col-sm-12 container bg-info">
    <p style="margin: 10px;"><b>The details</b> <br /> LibrApp was originally a simple web application developed as a small group project at the university. At first the app was supposed to be developed in .Net, either using ASP WinForms or MVC. Unfortunately due to some sudden problems with manpower and hardware it had to be developed rapidly, thus it was decided to use familiar at the time PHP/JS and implement only the basics. <br />As a result I never had the chance to learn proper use of .Net, so decided to start the project again on my own utilizing MVC and Entity Framework, along with a few other technologies (there's always one more JQuery plugin to use). <br /> <br /> <b>Improtant to note:</b> It is still relatively simple app - by no means any kind of astonishing achievement of web development. The idea is to get fully functional app up and running with proper back-end, front-end and all functionalities operating in order (also with necessary safety/performance measures correctly implemented). It's not about the sheer amount or extent of functionalities, it's about proper implementation. It is, after all, a newbie project.</p>
</div>
