@{
    ViewBag.Title = "Home Page";
} 

<h1 align="center">Welcome to LibrApp2!</h1>
<div class="row">
    <div class="col-md-6">
        <h3 align="center">What to do here?</h3>
        <p style="text-align: justify">
            You can take a look at most features of the application and take a tour around the it. All you need to do is press <b>"Take a tour"</b> button and follow the instructions!
</p>
    </div>
    <div class="col-md-6">
        <h3 align="center">About LibrApp2</h3>
        <p style="text-align: justify">If you want to learn about what technologies were used, or what this little project actually aims to be press the <b>"About"</b> button</p>
    </div>
</div>

<div class="row">
    <p class="col-md-6" align="center">@Html.ActionLink("Take a tour", "halp", "Home", null, new { @class = "btn btn-default" })</p>
    <p class="col-md-6" align="center">@Html.ActionLink("About LibrApp2", "About", "Home", null, new { @class = "btn btn-default" })</p>

</div>